/nbproject/Package-Debug.bash
/Makefile
/nbproject/Makefile-Debug.mk
/nbproject/private/c_standard_headers_indexer.c
/nbproject/Makefile-Release.mk
/nbproject/private/timestamps-carrot-pi-22
/nbproject/private/configurations.xml
/nbproject/project.xml
/nbproject/private/Makefile-variables.mk
/nbproject/Makefile-variables.mk
/nbproject/private/cpp_standard_headers_indexer.cpp
/nbproject/Package-Release.bash
/nbproject/Makefile-impl.mk
/nbproject/private/private.xml
/nbproject/configurations.xml
/nbproject/private/launcher.properties
/build/
/dist/